In [1]:
import sqlite3
import os
import pandas as pd
import requests
import time
from config.secrets import *
import currencyapicom
from datetime import datetime

In [2]:
# Initialize sql db
con = sqlite3.connect("database.db")
cur = con.cursor()

In [7]:
for filename in os.listdir("data/"):
    if filename.endswith(".csv"): 
        df = pd.read_csv("data/"+filename, encoding='utf-8')
        table_name = filename.split(".")[0]
        df.to_sql(table_name, con, if_exists='append', index=False)
        continue
    else:
        continue

In [3]:
%load_ext sql

In [22]:
%%sql
SELECT * FROM campaign
LIMIT 10;

 * sqlite:///database.db
Done.

[(1, 'Ragdolls', 23, 2, 2, '2013-04-25 00:00:00', '2013-05-25 00:00:00', 15000.0, 20.0, 3, 'failed'),
 (2, 'One To Ten', 47, 1, 1, '2015-11-16 00:00:00', '2015-12-16 00:00:00', 223.68, 413.81, 23, 'successful'),
 (3, 'Future Gun - A short film about kids and advanced hardware', 24, 2, 2, '2013-08-28 00:00:00', '2013-09-27 00:00:00', 5000.0, 1497.0, 28, 'failed'),
 (4, 'Fourth Wave Apparel\x14Vintage Fashion for the Modern Feminist', 52, 2, 2, '2014-07-22 00:00:00', '2014-08-21 00:00:00', 6000.0, 8795.0, 218, 'successful'),
 (5, 'The Rich Lifestyle', 9, 2, 2, '2016-08-24 00:00:00', '2016-09-28 00:00:00', 2000000.0, 2.0, 2, 'failed'),
 (6, 'Perils Galore!', 27, 2, 2, '2012-09-25 00:00:00', '2012-11-01 00:00:00', 2500.0, 230.0, 5, 'failed'),
 (7, 'In a Dark Dark House - Directed by Larry Moss', 20, 2, 2, '2014-07-01 00:00:00', '2014-08-15 00:00:00', 55000.0, 9316.0, 45, 'failed'),
 (8, 'CHARLIEFOXTROTNY', 23, 2, 2, '2014-05-21 00:00:00', '2014-06-20 00:00:00', 6000.0, 161.0, 4, 'failed'),
 (9, 'Fat Englishmen - Beer and Sumo', 54, 2, 2, '2015-03-03 00:00:00', '2015-04-02 00:00:00', 50000.0, 0.0, 0, 'failed'),
 (10, 'bear elements old-fashioned shave and beard care for men', 12, 2, 2, '2016-04-14 00:00:00', '2016-05-14 00:00:00', 12000.0, 306.0, 11, 'failed')]

#### Get historical exchange rates

%%sql
SELECT DISTINCT(currency_id), deadline, currency.name
FROM campaign, currency
WHERE campaign.currency_id = currency.id
ORDER BY deadline
LIMIT 10;


# Get historical exchange rate from CurrencyAPI.com
def get_historical_exchange_rate(date, base_currency, target_currency, web, api_key):
    if web == "currencyapi":
        client = currencyapicom.Client(api_key)
        def day_before(date):
            prev_date = datetime.strptime(date, "%Y-%m-%d") - timedelta(days=1)
            return prev_date.strftime('%Y-%m-%d')
        closet_historical_date = day_before(date)
        result = client.historical(closet_historical_date, base_currency, [target_currency])
        date = result['meta']['last_updated_at']
        exchange_rate = result['data'][target_currency]['value']
        return exchange_rate
    elif web == "currencybeacon":
        url = f"https://api.currencybeacon.com/v1/historical?api_key={api_key}&base=USD&date={date}&symbols={target_currency}"
        #return url
        response = requests.get(url)
        if response.status_code == 200:
            result = response.json()
            exchange_rate = result['rates'][target_currency]
            return exchange_rate
        else:
            return None

# Test script
get_historical_exchange_rate('2022-01-01', 'USD', 'EUR', "currencybeacon", CURRENCYBEACON_KEY)

# Get historical exchange rate from CurrencyAPI.com
api_results = []
keyerror = []
for row in df.itertuples():
    if row.name == "USD":
        df.loc[row.Index, "exchange_rate"] = 1
    else:
        try:
            exchange_rate = get_historical_exchange_rate(row.deadline, 'USD', row.name, 'currencyapi', CURRENCYAPI_KEY)
            df.loc[row.Index, "exchange_rate"] = exchange_rate
            api_results.append((row.Index,row.deadline, row.name, exchange_rate))
        except KeyError:
            keyerror.append((row.Index,row.deadline, row.name))
            pass
        except ConnectionError:
            break

# Export keyerror to a text file
# Define the file path
file_path = "currency_api_data/keyerror.txt"

# Create the directory if it doesn't exist
os.makedirs(os.path.dirname(file_path), exist_ok=True)

# Write the contents of keyerror to the file
with open(file_path, "w") as file:
    for item in keyerror:
        file.write(str(item) + "\n")

# Export api_results to a csv file
df.to_csv("currency_api_data/exchange_rate.csv", index=False)

# Import exchange_rate from csv file
df = pd.read_csv("currency_api_data/exchange_rate.csv")
print(df.info())
print(df.head())

# Get historical exchange rate from Currencybeacon.com
api_results = []
keyerror = []
for row in df.itertuples():
    if row.name == "USD":
        df.loc[row.Index, "exchange_rate"] = 1
    elif df.loc[row.Index, "exchange_rate"]:
        pass
    else:
        try:
            exchange_rate = get_historical_exchange_rate(row.deadline, 'USD', row.name, "currencybeacon", CURRENCYBEACON_KEY)
            df.loc[row.Index, "exchange_rate"] = exchange_rate
            api_results.append((row.Index,row.deadline, row.name, exchange_rate))
        except KeyError:
            keyerror.append((row.Index,row.deadline, row.name))
            pass
        except ConnectionError:
            break

# Export api_results to a csv file
df.to_csv("currency_api_data/exchange_rate.csv", index=False)

In [ ]:
df = pd.read_sql_query(
"""
SELECT DISTINCT(currency_id), deadline, currency.name
FROM campaign, currency
WHERE campaign.currency_id = currency.id
ORDER BY deadline
""",
    con,
)
# Convert datetime to unix timestamp
df["deadline"] = pd.to_datetime(df["deadline"])
df["deadline"] = df["deadline"].apply(lambda x: x.strftime('%Y-%m-%d'))
#df["deadline"] = df["deadline"].apply(lambda x: x.timestamp())

In [4]:
# Add exchange rate date to SQL
df = pd.read_csv("currency_api_data/exchange_rate.csv", encoding='utf-8')
df.to_sql("exchange_rate", con, if_exists='append', index=False)

5277

In [6]:
# Add country codes date to SQL
df = pd.read_csv("data/country_codes.csv", encoding='utf-8')
df.to_sql("country_codes", con, if_exists='append', index=False)

249